﻿@model clearskylogic.Models.Property
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Address)</h1>

<div>
    <hr />
    <div class="row">
        <div class="col-sm-6">
            <h5>@Html.DisplayNameFor(model => model.Description)</h5>
            <div>
                @Html.DisplayFor(model => model.Description)
            </div>
            <h5>@Html.DisplayNameFor(model => model.price)</h5>
            <div>
                £@Html.DisplayFor(model => model.price)
            </div>
        </div>
        <div class="col-6">
            <div style="max-height: 500px; max-width: 500px;">
                <img src="/@Html.DisplayFor(model => model.Image)" class="img-thumbnail h-100 w-100" />
            </div>
        </div>
    </div>
</div>
@if (SignInManager.IsSignedIn(User))
{
    <form asp-action="SendEnquiry">
        <div class="form-group">
            <label for="enquiryNotes"><h6>Enquire about this property</h6></label>
            <textarea name="enquiryNotes" class="form-control rounded-0" id="enquiryNotes" rows="10"></textarea>
            <button type="submit" class="btn btn-info">Send</button>
        </div>
    </form>
}
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
