﻿@model IEnumerable<clearskylogic.Models.Property>

@{
    ViewData["Title"] = "Property List";
}

<div class="text-center">
    <h1 class="display-4">Available Properties</h1>
    <div class="container">
        @foreach (var item in Model)
        {
            <div class="row">
                <div class="col-4">
                    <div style="max-height: 500px; max-width: 500px;">
                        <img src="@Html.DisplayFor(modelItem => item.Image)" class="img-thumbnail h-100 w-100" />
                    </div>
                </div>

                <div class="col-8">
                    <div><a asp-action="Details" asp-route-id="@item.Id"><h4>£@Html.DisplayFor(modelItem => item.price)</h4></a></div>
                    <div><h6>@Html.DisplayFor(modelItem => item.Address) Address</h6></div>
                    <div><h6>@Html.DisplayFor(modelItem => item.Bedroom) Bedrooms</h6></div>
                    <div><h7>@Html.DisplayFor(modelItem => item.Description)</h7></div>
                </div>
            </div>
        }
    </div>
</div>

