﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Clear Sky Logic Properties</h1>
    <a class="btn btn-secondary btn-lg" asp-controller="GetProperties" asp-action="Index">Show Available Properties</a>
</div>
