﻿@model clearskylogic.Models.Property

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Address)</h1>

<div>
    <hr />
    <div class="row">
        <div class="col-sm-6">
            <h5>@Html.DisplayNameFor(model => model.Description)</h5>
    <div>
        @Html.DisplayFor(model => model.Description)
    </div>
    <h5>@Html.DisplayNameFor(model => model.price)</h5>
    <div>
        £@Html.DisplayFor(model => model.price)
    </div>
</div>
        <div class="col-6">
            <div style="max-height: 500px; max-width: 500px;">
                <img src="/@Html.DisplayFor(model => model.Image)" class="img-thumbnail h-100 w-100" />
            </div>
        </div>
    </div>
    <div>
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </form>
    </div>
